@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor) !important;
}

.ant-drawer-header {
  display: none !important;
}
.ant-form-item-label {
  font-weight: 700 !important;
}

.ant-btn-primary {
  background-color: var(--primaryColor) !important;
}
.ant-pagination-options {
  display: none !important;
}

.two-grid {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-4;
}
.three-grid {
  @apply grid grid-cols-1 lg:grid-cols-3 gap-4;
}
.bottom-buttons {
  @apply flex justify-end items-center gap-4 absolute bottom-10 right-10;
}
.cancel-button {
  @apply font-bold w-full bg-transparent text-red-500 px-10 pt-2 pb-8 border border-red-500;
}
